
body {
	background-color: white;
}

.button-picture {
  display: block;
  margin-left:auto;
  margin-right:auto;
  max-width:89%;
  max-height: 90%;
}

.printer {
	height:240px;
	margin-top:15px;
}

.ion-thruster {
	height:200px;
	margin-top:36px;
}

.machine-learning {
	margin-top:10px;
}

.button-picture:hover {
	color: lightsalmon;
}

.project_boxes {
	/*background: linear-gradient(-90deg, rgba(69,246,249,.4), rgba(216, 143, 247, .4));*/
  height: 280px;
  border:1px solid grey;
  transition: transform .2s;
}

.project_boxes:hover {
  transform: scale(1.04);
  opacity: .95;
}

.project-title {
	font-family: "Segoe UI", "Helvetica Neue", sans-serif;
	font-size: 2rem;
	font-weight: 200;
	color: black;
	text-align: center;

	display:block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;

	/*background-color: #456990;*/
	/*background-color: rgba(57,155,182, 1);*/
}