


body {
	background-color: white;
}




.project-title {
	font-family: "Segoe UI", "Helvetica Neue", sans-serif;
	font-size: 2rem;
	font-weight: 200;
	color: black;

	display:block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;

	/*background-color: #456990;*/
	/*background-color: rgba(57,155,182, 1);*/
}