{% extends "base.html" %}
{% block content %}

<body>

<div class="container-fluid">
	<div class="row row mt-5">
		<div class="col-sm-2"></div>
			<div class="col-lg-4">
				<img class="profile_picture" src="{{ url_for('static', filename='img/me.jpg') }}"> <br>
			</div>
			<div class="col-lg">
				<h1 class="display-5">About Me</h1>
				This past summer I've spent my time interning at an SF-based tech startup called iBeat. iBeat has released a smart watch which uses cutting-edge sensors and artifical intelligence-based signal processing to detect life-threatening conditions in a user. I've spent the majority of my time creating data pipelines and building a database for the other data scientists to use. Additionally, I've spent a significant amount of time creating algorithms to extract features from watch sensor data, and I've analyzed this data using statistical analysis combined with machine-learning. <br><br> This upcoming Fall, I'll be transferring into my junior year at UCLA, to study computer science and engineering. 
				<br>
				
				<!-- Linkedin -->
				<a href="https://www.linkedin.com/in/cody-swain-89b621118/" class="fa fa-linkedin"></a>

				<!--Github-->
				<a href="https://github.com/codyswain" class="fa fa-github"></a>

			</div>
		<div class="col-sm-2"></div>
	</div>
</div>

</body>
</html>

{% endblock %}