{% extends "base.html" %}
{% block content %}

<head>
<!-- CSS for Timeline -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/timeline.css') }}">

<!-- Javascript for Timeline-->
<script src="{{ url_for('static', filename='js/timeline.js') }}"></script>
</head>



<div class="container-fluid">
	<div class="row row mt-5">
		<div class="col-sm-2"></div>
			<div class="col-lg">
				<div class"row">
					<h1 class="display-5">Head over to <a href="{{ url_for('projects') }}">projects</a>, or check back for updates!</h1><br><br>
				</div>

				<div class="row rounded intro">
					Progress Timeline
				</div>

				<section class="timeline">
				  <ul>
				    <li>
				      <div>
				        <time>Born</time> I was born in Berkeley. My family moved from Richmond to Walnut Creek around the age of 2. <br><br><i>1998</i>.
				      </div>
				    </li>
				    <li>
				      <div>
				        <time>Bootstrapped 3D Printer</time> I designed parts for a 3D printer, then 3D printed them on a low-quality 3D printer. These parts were assembled into a new machine, which was subsequently used to re-print its own parts at higher quality. <br><br><i>Sophomore Year (High School) </i>
				      </div>
				    </li>
				    <li>
				      <div>
				        <time>MechE Internship</time> I spent a summer interning at a company called Tango System Inc. which produces semiconductor manufacturing equipment. I modeled various components in SolidWork 2015 and assembled vacuum equipment in a clean room.<br><br><i>Summer after Sophomore Year (High School)</i>
				      </div>
				    </li>
				    <li>
				      <div>
				        <time>Rocketry Club Founder</time> Created and ran a rocketry club at Las Lomas High School. This club organized lunch activities such as the launching of pressurized-water rockets. I also led students through the process of modeling hobby rockets in Autodesk Fusion 360. <br><br><i>Junior Year (High School)</i>
				      </div>
				    </li>
				    <li>
				      <div>
				        <time>Computer Science Internship</time> Spent my summer interning at a startup called iBeat. More to come. 
				        <br><br><i>Summer after Freshman Year (College)</i>
				      </div>
				    </li>
				    <li>
				      <div>
				        <time>Engineering Club President</time> Presided as President of the Engineering Club at Diablo Valley College. I led the club through the design, validation, and fabrication of an all-aluminum 3D printer which was initially planned to be donated to the school. Also led the club through the design process of a motor-controlled robotic arm with computer vision capabilities. 
				        <br><br><i>Sophomore Year (College)</i>
				      </div>
				    </li>
				    <li>
				      <div>
				        <time>NSF Conference in Washington D.C.</time> I two professors and two other students from my community college, to a National Science Foundation conference hosted in Washington D.C. I presented the 3D printer that the Engineering Club had built, along with a model ion thruster I had built. <br><br><i>Sophomore Year (College)</i>
				      </div>
				    </li>
				    <li>
				      <div>
				        <time>Data Science and Engineering Internship</time> I returned to iBeat this summer. More to come<br><br><i>Summer after Sophomore Year (College)</i>
				      </div>
				    </li>
				    <li>
				      <div>
				        <time>Transfer to UCLA</time> Transferring into UCLA as a Junior. <br><br><i>Junior Year (College)</i>
				      </div>
				    </li>
				  </ul>
				</section>
			</div>
		<div class="col-sm-2"></div>
	</div>
</div>

</body>
</html>

{% endblock %}


<!-- <h1 class="display-5">To do</h1>
1. Add projects <br>
2. Notes on Kalman Filters <br>
3. Fix 3D Printer <br>
4. Notes of CNN's <br>
5. Design CAD for robotic arm <br>
6. Understanding Singular Value Decomposition <br> <br>


<h1 class="display-5">Projects to add</h1>
- 3D Printer<br>
- Homemade Rocket Fuel<br>
- Force Measurement Python Gui<br>
- Ion Thruster<br>
- Robotic Arm (WIP) <br>
- Coil Gun (WIP) <br>
- Music Production (WIP)<br>
- Hot Hand Fallacy (WIP) <br>
- TimeSpent (WIP) <br> -->