{% extends "base.html" %}

{% block content %}

<body>

<div class="container-fluid">
	<div class="row row mt-5">
		<div class="col-sm-2"></div>
			<div class="col-lg">
				To-do: <br>
				1. Add projects <br>
				2. Notes on Kalman Filters <br>
				3. Fix 3D Printer <br>
				4. Notes of CNN's <br>
				5. Design CAD for robotic arm <br> <br>

				Projects to add:<br>
				- 3D Printer<br>
				- Homemade Rocket Fuel<br>
				- Force Measurement Python Gui<br>
				- Ion Thruster<br>
				- Robotic Arm (WIP) <br>
				- Coil Gun (WIP) <br>
				- Music Production (WIP)<br>
				- Hot Hand Fallacy (WIP) <br>
				- TimeSpent (WIP) <br>
			</div>
		<div class="col-sm-2"></div>
	</div>
</div>

</body>
</html>

{% endblock %}