{% extends "base.html" %}
{% block content %}

<body>


<div class="container-fluid">
	<div class="row row mt-5">
		<div class="col-sm-2"></div>
			<div class="col-lg">
				<a href="https://www.dropbox.com/s/pdsp9osavz894e9/dimensionality_reduction.pdf?dl=0">Dimensionality Reduction Notes</a> - "Hands-On Machine Learning with Scikit-Learn and TensorFlow: Concepts, Tools, and Techniques to Build Intelligent Systems" <br>

				<a href="https://www.dropbox.com/s/v587tr57xzlpb46/mechanics-fluids-oscillations-waves.pdf?dl=0">Mechanics Review 1</a> Some basic fundamentals from Physics 1 <br>

				<a href="https://www.dropbox.com/s/qpejit45m6pi99v/mechanics-simple-review.pdf?dl=0">Mechanics Review 2</a> - More basic fundamentals from Physics 1 <br>

			</div>
		<div class="col-sm-2"></div>
	</div>
</div>

<!-- <div class="container-fluid">
	<div class="row mt-4">
		<div class="col-lg">
		  <img src="{{ url_for('static', filename='img/favicon.ico') }}">
		</div>
		<div class="col-lg">Big Col</div>
	</div>
</div> -->

</body>
</html>

{% endblock %}