{% extends "base.html" %}
{% block content %}

<body>


<div class="container-fluid">
	<div class="row row mt-5">
		<div class="col-sm-2"></div>
		<div class="col-lg">
			<h1 class="display-4">Interview Preparation</h1>
			<a href="{{ url_for('notes_schedule') }}">Schedule for Interview Prep</a><br>
			<a href="{{ url_for('notes_big_o_notation') }}">Big-O-Notation</a><br>
			<a href="{{ url_for('notes_algorithms_from_scratch1') }}">Algorithms from scratch 1</a><br>
			<a href="{{ url_for('notes_algorithms_from_scratch2') }}">Algorithms from scratch 2</a><br>
			<a href="{{ url_for('notes_algorithms_from_scratch3') }}">Algorithms from scratch 3</a><br>
			<a href="{{ url_for('notes_algorithms_from_scratch4') }}">Algorithms from scratch 4</a><br>
			<a href="{{ url_for('notes_algorithms_from_scratch5') }}">Algorithms from scratch 5</a><br>
			<a href="{{ url_for('notes_mistakes_list') }}">Mistakes / Weaknesses List</a><br>
			<a href="{{ url_for('notes_company_applications_list') }}">Applications Notes</a>
			<br><br><br>



			<h1 class="display-4">Assorted Notes</h1>
			<a href="https://www.dropbox.com/s/pdsp9osavz894e9/dimensionality_reduction.pdf?dl=0">Dimensionality Reduction Notes</a> - "Hands-On Machine Learning with Scikit-Learn and TensorFlow"
			<br>

			<a href="https://www.dropbox.com/s/v587tr57xzlpb46/mechanics-fluids-oscillations-waves.pdf?dl=0">Mechanics Review 1</a> Some basic fundamentals from Physics 1
			<br>

			<a href="https://www.dropbox.com/s/qpejit45m6pi99v/mechanics-simple-review.pdf?dl=0">Mechanics Review 2</a> - More basic fundamentals from Physics 1
			<br> <br>

		</div>
		<div class="col-sm-2"></div>
	</div>
</div>

<!-- <div class="container-fluid">
	<div class="row mt-4">
		<div class="col-lg">
		  <img src="{{ url_for('static', filename='img/favicon.ico') }}">
		</div>
		<div class="col-lg">Big Col</div>
	</div>
</div> -->

</body>
</html>

{% endblock %}