{% extends "base.html" %}
{% block content %}

<body>
<div class="container-fluid">
	<div class="row row mt-5">
		<div class="col-sm-2"></div>
		<div class="col-lg">
			<h1 class="display-4">3D Printer</h1>
			<img class="large_image" src="{{ url_for('static', \ filename='img/projects/3d_printer_5/real_finished.jpg') }}"> <br>
			The above is a rendering of my printer.
			<img class="large_image" src="{{ url_for('static', \ filename='img/projects/3d_printer_5/render_full_2.jpg') }}"> <br>
			Work in Progress
		</div>
		<div class="col-sm-2"></div>
	</div>
</div>
</body>

{% endblock %}