{% extends "base.html" %}
{% block content %}

<head>
<!-- CSS for Timeline -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/projects.css') }}">
</head>



<body>

<div class="container-fluid">

	<div class="row row mt-2">
		<div class="col-sm-1"></div>

		<div class="col-lg">
			<div class="row">
				<h1 class="project-title" style="text-align:center;">3D Printer</h1>
			</div>
			<div class="row">
				<div class="col-lg rounded project_boxes buttonBox">
					<a href="{{ url_for('projects_3d_printer') }}"></a>
					<img class="button-picture" src="{{ url_for('static', filename='img/project_buttons/3dprinter_icon.png') }}"> <br>
				</div>
			</div>
		</div>

		<div class="col-sm-1"></div>
		<div class="col-lg">
			<div class="row">
				<h1 class="project-title" style="text-align:center;">Ion Thruster</h1>
			</div>
			<div class="row">
				<div class="col-lg rounded project_boxes">
					<a href="{{ url_for('projects_3d_printer') }}"></a>
					<img class="button-picture" src="{{ url_for('static', filename='img/project_buttons/3dprinter_icon.png') }}"> <br>
					<!-- <img class="button-picture" src="{{ url_for('static', filename='img/project_buttons/ion_thruster_icon.png') }}"> <br> -->
				</div>
			</div>
		</div>

		<div class="col-sm-1"></div>

		<div class="col-lg">
			<div class="row">
				<h1 class="project-title" style="text-align:center;">Robotic Arm</h1>
			</div>
			<div class="row">
				<div class="col-lg rounded project_boxes">
					<a href="{{ url_for('projects_3d_printer') }}"></a>

					<img class="button-picture" src="{{ url_for('static', filename='img/project_buttons/3dprinter_icon.png') }}"> <br>
				</div>
			</div>
		</div>

		<div class="col-sm-1"></div>
	</div>

	<div class="row row mt-2">
		<div class="col-sm-1"></div>

		<div class="col-lg">
			<div class="row">
				<h1 class="project-title" style="text-align:center;">TimeSpent</h1>
			</div>
			<div class="row">
				<div class="col-lg rounded project_boxes buttonBox">
					<a href="{{ url_for('projects_3d_printer') }}"></a>
					<img class="button-picture" src="{{ url_for('static', filename='img/project_buttons/3dprinter_icon.png') }}"> <br>
				</div>
			</div>
		</div>

		<div class="col-sm-1"></div>
		<div class="col-lg">
			<div class="row">
				<h1 class="project-title" style="text-align:center;">Machine Learning</h1>
			</div>
			<div class="row">
				<div class="col-lg rounded project_boxes">
					<a href="{{ url_for('projects_3d_printer') }}"></a>

					<img class="button-picture" src="{{ url_for('static', filename='img/project_buttons/3dprinter_icon.png') }}"> <br>
				</div>
			</div>
		</div>

		<div class="col-sm-1"></div>

		<div class="col-lg">
			<div class="row">
				<h1 class="project-title" style="text-align:center;">ios Dev</h1>
			</div>
			<div class="row">
				<div class="col-lg rounded project_boxes">
					<a href="{{ url_for('projects_3d_printer') }}"></a>

					<img class="button-picture" src="{{ url_for('static', filename='img/project_buttons/3dprinter_icon.png') }}"> <br>
				</div>
			</div>
		</div>

		<div class="col-sm-1"></div>
	</div>

</div>

</body>

{% endblock %}