{% extends "base.html" %}
{% block content %}

<body>
<div class="container-fluid">
	<div class="row row mt-5">
		<div class="col-sm-2"></div>
		<div class="col-lg">
			<h1 class="display-4">Model Ion Thruster</h1>
			Below is a model ion thruster I built while enrolled in a physics electricity and magnetism course, after we had covered electric propulsion. I designed the case in SolidWorks 2017, then 3d printed it. I built the conductive grid from copper tube, which was cut then soldered together. I was able to get my hands on a Neon Sign Transformer from a nearby shop, which provided a 10000V potential across the main chamber. 
			<br>

			<img class="large_image" src="{{ url_for('static', filename='img/projects/ion_thruster/cad_model.jpg') }}"> 

			<br><br>

			<img class="large_image" src="{{ url_for('static', filename='img/projects/ion_thruster/3d_printing_case.jpg') }}"> 

			<br><br>

			<img class="large_image" src="{{ url_for('static', filename='img/projects/ion_thruster/model_with_transformer.jpg') }}"> 

			<br><br>

		</div>
		<div class="col-sm-2"></div>
	</div>
</div>
</body>

{% endblock %}