{% extends "base.html" %}
{% block content %}

<head>
<!-- CSS for Timeline -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/projects.css') }}">
</head>



<body>

<div class="container-fluid">
	This website is currently a work in progress. Check back for updates! 
	<div class="row row mt-2">
		<div class="col-sm-1"></div>

		<div class="col-lg">
			<div class="row">
				<h1 class="project-title">3D Printer</h1>
			</div>
			<div class="row">
				<div class="col-lg rounded project_boxes clickable">
					<a href="{{ url_for('projects_3d_printer') }}"></a>
					<img class="button-picture printer" src="{{ url_for('static', filename='img/project_buttons/3dprinter_icon.png') }}"> <br>
				</div>
			</div>
		</div>

		<div class="col-sm-1"></div>
		
		<div class="col-lg">
			<div class="row">
				<h1 class="project-title">Robotic Arm</h1>
			</div>
			<div class="row">
				<div class="col-lg rounded project_boxes">
					<a href="{{ url_for('projects_robotic_arm') }}"></a>

					<img class="button-picture machine-learning" src="{{ url_for('static', filename='img/project_buttons/artifical_intelligence.png') }}"> <br>
				</div>
			</div>
		</div>

		<div class="col-sm-1"></div>

		<div class="col-lg">
			<div class="row">
				<h1 class="project-title">TimeSpent</h1>
			</div>
			<div class="row">
				<div class="col-lg rounded project_boxes clickable">
					<a href="{{ url_for('projects_timespent') }}"></a>
					<img class="button-picture machine-learning" src="{{ url_for('static', filename='img/project_buttons/artifical_intelligence.png') }}"> <br>
				</div>
			</div>
		</div>

		<div class="col-sm-1"></div>
	</div>

	<div class="row row mt-2">
		<div class="col-sm-1"></div>

		<div class="col-lg">
			<div class="row">
				<h1 class="project-title";">Ion Thruster</h1>
			</div>
			<div class="row">
				<div class="col-lg rounded project_boxes clickable">
					<a href="{{ url_for('projects_ion_thruster') }}"></a>
					<img class="button-picture ion-thruster" src="{{ url_for('static', filename='img/project_buttons/ion_thruster_icon.png') }}"> <br>
					<!-- <img class="button-picture" src="{{ url_for('static', filename='img/project_buttons/ion_thruster_icon.png') }}"> <br> -->
				</div>
			</div>
		</div>

		<div class="col-sm-1"></div>
		<div class="col-lg">
			<div class="row">
				<h1 class="project-title">Machine Learning</h1>
			</div>
			<div class="row">
				<div class="col-lg rounded project_boxes clickable">
					<a href="{{ url_for('projects_machine_learning') }}"></a>

					<img class="button-picture machine-learning" src="{{ url_for('static', filename='img/project_buttons/artifical_intelligence.png') }}"> <br>
				</div>
			</div>
		</div>

		<div class="col-sm-1"></div>

		<div class="col-lg">
			<div class="row">
				<h1 class="project-title">ios Dev</h1>
			</div>
			<div class="row">
				<div class="col-lg rounded project_boxes clickable">
					<a href="{{ url_for('projects_ios_dev') }}"></a>

					<img class="button-picture machine-learning" src="{{ url_for('static', filename='img/project_buttons/artifical_intelligence.png') }}"> <br>
				</div>
			</div>
		</div>

		<div class="col-sm-1"></div>
	</div>

</div>

</body>

{% endblock %}