{% extends "base.html" %}
{% block content %}

<body>
<div class="container-fluid">
	<div class="row row mt-5">
		<div class="col-sm-2"></div>
		<div class="col-lg">
			<h1 class="display-4">Robotic Arm</h1>
			This project is a work-in-progress. The goal is to create a robotic arm with a camera attached to the claw, which can be used to sort objects based of classification. This project is being created in conjunction with <a href="http://www.jacknewsom.com/">Jack Newsom</a>. 
			<img class="large_image" src="{{ url_for('static', filename='img/projects/robotic_arm/concept1.png') }}"> <br>
			<img class="large_image" src="{{ url_for('static', filename='img/projects/robotic_arm/concept2.jpeg') }}"> <br>
			<img class="large_image" src="{{ url_for('static', filename='img/projects/robotic_arm/claw_3d_printed.jpg') }}"> <br>
			<img class="large_image" src="{{ url_for('static', filename='img/projects/robotic_arm/computer_vision.png') }}"> <br>
			<img class="large_image" src="{{ url_for('static', filename='img/projects/robotic_arm/arm_kinematics.png') }}"> <br>
		</div>
		<div class="col-sm-2"></div>
	</div>
</div>
</body>

{% endblock %}