{% extends "base.html" %}
{% block content %}

<body>
<div class="container-fluid">
	<div class="row row mt-5">
		<div class="col-sm-2"></div>
		<div class="col-lg">
			<h1 class="display-4">3D Printer</h1>
			During my time at Diablo Valley Community College, I led the engineering club
			through the design and construction of a 3d printer. I had noticed that engineers at the school had limited access to the 3d printing lab. First priority was assigned to architecture students because the printers were located in the architecture building.

			<br><br>

			After creating a bill of materials, we created a 3D assembly model in Autodesk Fusion 360. From there, we purchased parts online, and used a 3d printer and CNC mill to fabricate additional components.
			<br><br>

			<img class="large_image" src="{{ url_for('static', filename='img/projects/3d_printer_5/model_render.jpg') }}"> 

			<br><br>

			<img class="large_image" src="{{ url_for('static', filename='img/projects/3d_printer_5/working_1.jpg') }}"> 

			<br><br>

			<img class="large_image" src="{{ url_for('static', filename='img/projects/3d_printer_5/real_finished.jpg') }}"> 

			<br><br>

			<img class="large_image" src="{{ url_for('static', filename='img/projects/3d_printer_5/render_full_2.jpg') }}"> <br>
		</div>
		<div class="col-sm-2"></div>
	</div>
</div>
</body>

{% endblock %}